<html>
  <%- include('includes/head')%>

  <body>
    <%- include('includes/nav')%>
    <!-- MDB -->
    <div class="container g-5">
      <div class="row pt-5 g-5">
        <div class="col-md-2">
          <img
            src="https://images.unsplash.com/photo-1631557776808-91908aba7ca0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE3fGFldTZyTC1qNmV3fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
            class="card-img-top"
            height="50rem"
          />
          <div class="row pt-3">
            <b> Total Licences </b>
            <p id="totallicences"></p>
            <br />

            <b>Assigned Licences</b> <br />
            <p id="assignedlicences"></p>

            <b> Remaining Licences</b> <br />
            <p id="remaininglicences"></p>
          </div>
        </div>

        <div class="col-md-7">
          <span> <p>Planning-inc Users</p></span>
          <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th>User</th>
                <th>Analyser</th>
                <th>Support</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < licencedUsers.length ; i++) { %>
              <tr>
                <td>
                    <div class="ms-">
                      <p class="fw-bold mb-1"><%= JSON.stringify(licencedUsers[i].userName).replace(/['"]+/g, '') %> </p>
                      <p class="text-muted mb-0"><%= JSON.stringify(licencedUsers[i].email).replace(/['"]+/g, '') %></p>
                    </div>
                  </div>
                </td>
                <td>
                  <% if (licencedUsers[i].bundle == "Analyser") { %>
                    <span class="badge badge-success rounded-pill d-inline"
                    >Active</span
                  >
                  <% } else { %>
                    <span class="badge badge-danger rounded-pill d-inline"
                    >Unassigned</span
                  > <% } %>
                </td>
                <td>
                  <% if (licencedUsers[i].bundle == "SupportSlot") { %>
                    <span class="badge badge-success rounded-pill d-inline"
                    >Active</span
                  >
                  <% } else { %>
                    <span class="badge badge-danger rounded-pill d-inline"
                    >Unassigned</span
                  > <% } %>
                </td>
                <td>
                  <button id=<%=`${i}`%> type="button" class="btn btn-link btn-sm btn-rounded">
                    Edit
                  </button>
                </td>  
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>

        <!-- Add User -->
        <div class="col-md-3 ps-3">
          <div class="row text-center">
            <p class="lead">Add New User</p>
          </div>
          <div class="row">
            <form>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input
                      type="text"
                      id="form3Example1"
                      class="form-control"
                    />
                    <label class="form-label" for="form3Example1"
                      >First name</label
                    >
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input
                      type="text"
                      id="form3Example2"
                      class="form-control"
                    />
                    <label class="form-label" for="form3Example2"
                      >Last name</label
                    >
                  </div>
                </div>
              </div>

              <!-- User Name Input -->
              <div class="form-outline mb-4">
                <input type="text" id="form3Example3" class="form-control" />
                <label class="form-label" for="form3Example3"
                  >User Name: FirstLast</label
                >
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" />
                <label class="form-label" for="form3Example3"
                  >Email address</label
                >
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="form3Example4"
                  class="form-control"
                />
                <label class="form-label" for="form3Example4">Password</label>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Add
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"
    ></script>
  </body>
</html>
